
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} -hopital</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('css/login.css')}}"/>
        <script href="{{asset('js/responsiveslides.min.js')}}"></script>
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css"  media="all" />
        <link rel="stylesheet" href="{{asset('css/responsiveslides.css')}}">
        <link rel="stylesheet" href="{{asset('css/inscription.css')}}"/>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {%block acceuil %}{%include '::acceuil.html.twig' %} {% endblock %}
    {%block nav %} {%include '::nav.html.twig' %} {% endblock %}
    {%block login %} {%include '::login.html.twig' %} {% endblock %}
    {%block inscription %}{%include '::register_content.html.twig' %}{% endblock %}
    {%block resseting %}{%include '::ressetting_pass.html.twig' %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
<script src="{{asset('js/inscription.js')}}"></script>
</body>
</html>
